/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F0F1F2;
}
body {
    background-color: #17191A;
    font-family: 'Hubballi', cursive;
}
nav {
    background-color: #212529;
    padding:1rem;
    position: relative;
}
nav * {
    display: inline;
    text-decoration: none;
    vertical-align: middle;
}
nav ul{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}
nav ul li {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Homenaje', sans-serif;
}
#navLogo {
    height: 3rem;
}
header {
    background-image: url("../img/barHeader.png");
    background-size:contain;
    /* background-color: #17191A; */
    background-repeat: repeat-x;
    height:40vh;
}
section {
    padding:2rem 1rem;
}
.boxText{
    padding: 3rem;
    border: 1px solid black;
    background-color: #212529;
    border-radius: 0.5rem;
}
.title{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}
section article h3{
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.imageContent{
    display: inline-block;
    width: 15%;
}
.imageContent img{
    width: 100%;
}
.textContent{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 2rem;
}
footer{
    background-color: #212529;
    padding:1rem;
    text-align: center;
    font-weight:500;
    font-family: 'Anton', sans-serif;
}
.tarjeta{
    padding: 1.5rem;
    border: 1px solid black;
    background-color: #212529;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0.5rem 1rem;
    text-align: center;
    width: 14.5rem;
}
.tarjeta ul{
    list-style-type: none;
    font-family: 'Hubballi', cursive;
}
.imgCircle{
    border-radius: 50%;
    width: 100%;
    margin: 1rem 0;
}
.imgSquare{
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
}
.textTachado{
    text-decoration: line-through;
}
.containerInfo {
    margin: 1rem 0;
}