.form__button {
    color: black;
    padding: 0.5rem;
    text-align: center;
    background-color: whitesmoke;
}

.form__img {
    width: 10rem;
    @include set-pixel-perfect;
}

#form__textArea {
    height: 125px;
}

form div {
    margin: 1rem 0;
}