.section--index {
    min-height: 52vh;
}

.article__container {
    &__index--grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 2rem;
        row-gap: 2rem;
        align-items: center;
    }

    &__img--index {
        background-color: $background-dark;
        max-width: 125px;
        box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.78)
    }
}

.aside__title {
    font-family: 'Press Start 2P', cursive;
    @include set-animation(fadingTitle, ease-in, 1s);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes fadingTitle {
    0% {
        @include opacity(0);
    }

    100% {
        @include opacity(1);
    }
}