.article__card--projects {
    border: 1px solid $border-color;
    background-color: $background-light;
    border-radius: 0.5rem;
    text-align: center;
    height: 100%;
}

.article__container {
    &__img--projects {
        @extend .article__container__img--index;
        max-width: 250px;
        justify-self: center;
    }
}