.article__card {
    &--team{
        background-color: $background-dark;
        height: 100%;
        max-width: 20rem;
        margin: auto;
    }
    &__img--team{
        background-color: $card-bgimage-color;
    }
}