nav ul {
    margin-bottom: 0;
}

.nav__items {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(223, 223, 223);
    font-family: map-get($fonts, navbar);

    & a:hover {
        text-decoration: underline;
    }
}

.nav__style {
    background-image: linear-gradient($background-dark, $background-light);
    padding: 2vh;
    border-bottom: 1px solid $border-color;
    min-height: 10vh;
}

#nav__logo {
    height: 5vh;
    @include set-animation(displayLogo, ease-in, 2s);
}

@keyframes displayLogo {
    0% {
        @include opacity(0);
    }

    100% {
        @include opacity(1);
    }
}