.card{
    &--shadow{
        -webkit-box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.78); 
        box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.78);
    }
    &--overlay{
        transition: all 1s;
        text-align: center;
        &:hover {
            opacity: 0;
        }
        &:focus {
            opacity: 0;
        }
    }
}

.card__img{
    &--circle{
        border-radius: 50%;
        width: 75%;
        margin: 1rem 0;
        align-self: center;
    }
    &--square{
        width: 100%;
        margin: 1rem 0;
        border-radius: 0.5rem;
    }
}