.article__container {
    border: 1px solid $border-color;
    background-color: $background-light;
    -webkit-box-shadow: 5px 8px 14px 2px rgba(0, 0, 0, 0.72);
    box-shadow: 5px 8px 14px 2px rgba(0, 0, 0, 0.72);
}