.article__container {
    border: 1px solid $border-color;
    background-color: $background-light;
    -webkit-box-shadow: 5px 8px 14px 2px $box-shadow-color;
    box-shadow: 5px 8px 14px 2px $box-shadow-color;
}