/* 
FONTS INSTALADAS DE GOOGLE FONTS
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display SC', serif; 
font-family: 'Hubballi', cursive;
font-family: 'Homenaje', sans-serif;
font-family: 'Black Ops One', cursive;
*/
p {
    line-height: 1.4rem;
}

.article__title {
    font-size: 2.5rem;
    font-family: map-get($fonts, title );
    text-shadow: 5px 6px 6px $text-shadow-color;
}

.article__subtitle {
    @extend .article__title;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    @each $class, $fontsize in $texts{
        .#{$class} {
            font-size: $fontsize;
        }
    }
}
@media screen and (min-width: 1200px) {
    p {
        font-size: 1.5rem;
    }
}