// BACKGROUND COLORS
$background-light: #212529;
$background-dark: #17191A;

// CONTAINERS
$border-color: black;
$box-shadow-color: rgba(0, 0, 0, 0.72);

// TEXT COLORS
$text-body-color: #F0F1F2;
$text-shadow-color: black;

// BUTTONS
$btn-bgcolor: rgb(163, 0, 0); 
$btn-bgcolor-hover: rgb(94, 0, 0);
$btn-bgborder-color: rgb(46, 0, 0);
$btn-bgborder-color-hover: rgb(197, 2, 2);
$btn-bgcolor-focus: rgb(94, 0, 0);
$btn-bgborder-color-focus: rgb(197, 2, 2);

// CARDS
$card-bgimage-color: #101112;

// FONTS
$fonts: (
    title: ('Black Ops One', cursive),
    body: ('Hubballi', cursive),
    button: ('Playfair Display SC', serif),
    footer: ('Anton', sans-serif),
    navbar: ('Homenaje', sans-serif),
);

// FONT SIZES FOR BIG SCREEN
$texts: (
    article__title: 3rem,
    article__subtitle: 1.5rem,
    footer__text: 1.2rem
);